.account-form {
    place-self: center;
    max-width: 800px;
    min-width: 400px;
    display: grid;
    grid-column: auto;
}

.account-form .row {
    padding: 5px;
}

.account-form-label {
    text-align: end;
    align-content: center;
}

.account-form input {
    background-color: #2b3035;
    color: #c1c019;
    border-radius: 10px;
    transition: 0.3s ease;
    text-wrap: nowrap;
}

.account-form input:focus {
    outline: none;
    border-color: #b6ff00;
    box-shadow: 0 0 0 0.2rem #b6ff00;
}

.account-form .col-8 span {
    font-size: 12px;
    color: red;
}

.account-form-button {
    place-items: center;
}